<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="#">Steps to Success</a>
  is a business simulation to attempt cheracter, who want to create own IT enterprise. <a href="#">Download game</a> This
  is the beta version of game.
</p>
<%= link_to image_tag("http://www.lavamind.com/wp-content/uploads/Business-Tycoon-Online.png", alt: "Rails"), 'vk.com/tfilonenko' %>
