<div class="center hero-unit">
  <h1>Welcome to the Steps to Success Website</h1>

  <h2>
    This is the home page for the Steps to Success Game Wesite
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://womenworld.org/image/072012/Race%20You%20To%20Goal_3.jpg", alt: "Rails"), 'vk.com/tfilonenko' %>