<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Download game</a>
    Steps to Success
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="vk.com/tfilonenko/">News</a></li>
    </ul>
  </nav>
</footer>